.container {
    width: 1024px;
    margin: 15px auto;
    border: 2px solid cornflowerblue;
    width: 500px;
    min-height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    background-color: rgba(200,200,200,0.1);
}
  
.header {
    text-align: center;
    font-size: 20px;
    color: royalblue;
}
    
.form {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
}
    
.input {
    width: 80%;
    height: 30px;
    background-color: transparent;
}
    
.input::placeholder {
    color: royalblue;
}
    
.form .input {
    border: none;
    border-bottom: 1px solid royalblue;
    padding-left: 12px;
    font-size: 18px;
}

.form .input {
    outline: none;
    color: blue;
}

.form .btn {
    width: 15%;
}


.btn {
    width: 80px;
    height: 40px;
    padding: 0 10px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: cornflowerblue;
    color: white;
}

.btn:hover {
    background-color: royalblue;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.active .btn:hover {
    background-color: blue;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.btn:active {
    box-shadow: none;
}

.todoList {
    height: 400px;
    overflow-y: auto;

}

ul { margin: 0; padding: 0; }

.todoItem {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 0;
    padding: 20px;
    border: 2px solid cornflowerblue;
    border-radius: 12px;
    color: royalblue;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.todoItem .active {
    background-color: royalblue;
    color: white;
}

.todoItem .item {
    display: flex;
    align-items: center;
    gap: 14px;
}